@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --main-color:#323264;
    --main-color-alt:#46466E;
    --main-color-soft:#686887;
    --accent-color:#F0145A;
    --active-color-regular:#24A3FF;
    --active-color-hover:#0085FF;
    --active-color-active:#006CCF;
    --color-grey-bg:#F5F5FA;
    --color-grey-bg-alt:#EDEDF7;
    --color-grey-text:#B3B3BA;
    --color-grey-separator:#E6E6F0;

    --gradient-main:linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
    --gradient-soft:linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    --gradient-red:linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
    --gradient-supersoft:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    --gradient-red-text:linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);

}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper-gradient {
    background: var(--gradient-supersoft);
    border-radius: 0 0 12px 12px;

}

.text-gradient {
    background: var(--gradient-red-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }



.link {
    color: var(--active-color-regular);
}


.link:hover {
    color: var(--accent-color);
}


.section-link {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.section-link::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    top: 5px;
    right: -9px;
    border-bottom: 2px solid var(--active-color-regular);
    border-right: 2px solid var(--active-color-regular);
    transform: rotate(-45deg);
}





/* Header */

header {
    height: 100vh;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:url(/img/header-bg.png);
    background-position: center;
    background-size: cover;
    
}

.language-wrapper {
    display: flex;
    gap: 6px;
    background:rgba(245, 245, 250, 0.2);
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.language button {
    width: 33px;
    height: 25px;
    border: none;
    background: none;
    color: white;
    font-weight: 700;
    font-size: 12px;
    border-radius: 8px;
}
.language button:not(.active):hover {
    background: #fff;
    color: var(--accent-color);

}
.language .active {
    background: var(--accent-color);
}



.language {
    display: flex;
}
.header-address {
    font-size: 16px;
    color: var(--color-grey-text);
    display: none;
}

.header-address:after,
.header-address:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: var(--color-grey-separator);
    display: block;
}

.header-tel {
    font-weight: 700;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.header-tel:hover {
    color: var(--active-color-hover);
    text-decoration: underline;

}
.header-facebook:before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: var(--color-grey-separator);
    display: block;
}
.header-facebook {
    display: none;
    align-items: center;
    gap: 6px;
    
}

.header-facebook:hover svg {
    fill: var(--active-color-hover);
}
.logo-wrapper {
    display: flex;
    padding: 12px 15px;
    align-items: center;

} 
.header-logo {
    width: 70px;
    height: 32px;
}
  .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 9px 7px;
        width: 32px;
        height: 32px;
        background: none;
        border: none;
        margin-left: auto;
        border-radius: 8px;

  }
  .burger-menu:active {
    background: var(--color-grey-separator);
  }

.burger-menu::before,
.burger-menu::after,
.burger-menu span {
        content: '';
        width: 18px;
        height: 2px;
        background: white;
    }
 .desktop-menu {
    margin-top: 30px;
    display: none;

 }   
.header-menu {
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-weight: 700;
}
.nav-link {
     color: #fff;
     text-decoration: none;
}
.nav-link:hover {
    color: var(--active-color-hover);
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    line-height: 110%;
    color:white;
    width: 315px;
    margin: 0 auto;
}
.header-btn {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: block;
    margin: 0 auto;
}

.header-btn:hover {
    border-color: var(--accent-color);
}

.header-btn:after {
  content: '';
  width: 10px;
  height: 10px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg); /*Повертає на 45 градусів для ефекту галочки */
  display: inline-block;
}

.header-btn:hover:after {
    border-color: var(--accent-color);
}



.mobile-panel {
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 96%;
    background: white;
    border-radius: 12px;
    position: absolute;
    left: -96%;
    top: 2%;
    padding: 12px;
    transition: all 200ms ease-in-out;
}

.mobile-panel.show {
    left: 2%;
}

.close-btn {
    margin-left: auto;
    width: 32px;
    height: 32px;
    position: relative;
    border: none;
    background: none;
}

.close-btn::before,
.close-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:rgba(236, 111, 93, 1);
  top: 50%;
  left: 0;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.mobile-menu {
    margin-top: 20px;
}
.mobile-navlink {
    line-height: 29px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    text-align: center;
    background: var(--color-grey-bg);
    font-weight: 700;
    font-size: 24px;
    color: var(--active-color-regular);
    border-radius: 12px;
    text-decoration: none;
}
.mobile-navlink:active {
    background: var(--color-grey-separator);
}
.mobile-navlink.active {
    color: var(--accent-color);
}


/* LEGAL-SERVICES  */

.advantages {
    overflow: hidden;
}

.btn-list {
    display: flex;
    gap: 30px;
    padding: 30px;
    overflow: auto;

}
.btn-list button {
    border: none;
    background: none;
    color: var(--color-grey-text);
    white-space: nowrap;
    font-weight: 700;
    font-size: 30px;
}
.btn-list button:hover {
    color: var(--accent-color);
}

.btn-list button.active {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.legal-services {
    padding: 34px 30px 30px;
  
}
.separator {
    display: block;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 30px;

}

.legal-services h2 {
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    line-height: 1.2;
}

.legal-services p {
    font-weight: 400;
    font-size: 19px;
    color:#FFFFFF;
    line-height: 30px;
}

                            /* services */

.services {
    position: relative;
    padding: 0 30px 60px;
}
.services::after {
    content: '';
    position: absolute;
    height: 10px;
    background: rgba(202, 202, 219, 1);
    border-radius: 0 0 12px 12px;
    left: 20px;
    right: 20px;
    bottom: -10px;
}

.services::before {
    content: '';
    height: 10px;
    position: absolute;
    bottom: -20px;
    right: 40px;
    left: 40px;
    background: rgba(231, 231, 242, 1);
    border-radius: 0 0 12px 12px;

}

.services-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;

}

.services-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.services-card-img-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 24px;
    width: 92px;
    height: 92px;
    
}
.services-card-title {
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 22px;
    color: var(--active-color-regular);
}

.services-card-text {
    font-weight: 300;
    font-size: 16px;
    color: white;line-height: 1.6;
}



/* section team  */

.team {
    padding: 50px 30px 60px;
  
}

.team-card {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;

}

.team-photo {
    background-image: url("/img/team-olex.jpg");
    background-position: center;
    height: 500px;

}

.team-text {
    padding: 30px;
    background: var(--color-grey-bg);
}

.team-title {
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

.team-name {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-grey-text);
    margin-bottom: 6px;
    line-height: 1.2;
}

.team-position {
    color: var(--color-grey-text);
    font-size: 14px;
    line-height: 1.5;
}

.team-btn-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.team-btn {
    width: 16px;
    height: 16px;
    background-color: var(--active-color-regular);
    border-radius: 100%;
    border: none;
    opacity: 20%;
}

.team-btn.active,
.team-btn:active {
    opacity: 100%;
}  

.team-btn:not(.active):hover {
    opacity: 60%;
}


                /* clients */
        
.clients-text {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--main-color);
    margin-bottom: 30px;
    line-height: 1.2;
}                

.clients-wrapper div {
    height: 120px;
    justify-content: center;
    align-items: center;
}

.hillel {
    display: flex;
    background: rgba(28, 66, 128, 1);
}
.wanna-biz {
    display: flex;
    background: rgba(20, 54, 70, 1);
}
.tapgerine {
    background:  #F48B30;
    display: flex;

}
.dlook {
    display: flex;
    background: rgba(158, 77, 195, 1);
}
.orangear {
    display: flex;
    background: rgba(253, 147, 57, 1);
}
.adtelligent {
    display: flex;
    background: rgba(226, 226, 228, 1);
}
.clickky {
    background: rgba(199, 28, 54, 1);
    display: none;
}
.eco {
    background: rgba(220, 243, 249, 1);
    display: none;
}
.infratek {
    background: rgba(234, 234, 234, 1);
    display: none;
}
.city {
    background: rgba(40, 34, 64, 1);
    display: none;
}
.artprint {
    background: rgba(29, 69, 104, 1);
    display: none;
}
.ultimate {
    background: rgba(0, 0, 0, 1);
    display: none;
}



                /* publications */


.publications {
    background-color: var(--color-grey-bg);
    padding: 30px;
}

.publications-container {
    max-width: 1600px;
    margin: 0 auto;
}

.publications-link {
    margin-bottom: 5px;
}

.publications-name {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.publications-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.publications-card {
    max-width: 500px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.publications-card-img {
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}

.publications-img-april {
    background-image: url(/img/publication-april.jpg);
}

.publications-img-september {
    background-image: url(/img/publication-september.jpg);
}

.publications-img-august {
    background-image: url(/img/publication-august.jpg);
}

.publications-text-wrapper {
    padding: 30px;
}

.publications-text {
    margin-bottom: 15px;
    color: var(--active-color-regular);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
}

.publications-months {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-grey-text);
    letter-spacing: 1px;
}

.publications-description {
    border-top: 4px solid var(--color-grey-separator);
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}




                                        /* FOOTER */

footer {
    padding: 0 30px 30px;
    background-color: var(--color-grey-bg);
}

.footer-separator {
    margin-bottom: 30px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-grey-separator);
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.footer-item-address {
    margin-bottom: 20px;
}

.footer-address {
    font-size: 18px;
    color: var(--main-color);
    padding-bottom: 10px;
}

.footer-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
}

.footer-item-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-facebook {
    color: var(--active-color-regular);
}

.footer-tel {
    font-weight: 700;
    font-size: 16px;
    color: var(--main-color);
    text-decoration: none;
}

.footer-tel:hover,
.footer-facebook:hover {
    color: var(--active-color-hover);
}

.footer-mail {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
    text-decoration: none;
}

.footer-item-copyright {
    font-size: 16px;
    color: var(--color-grey-text);
}





@media (min-width:768px) {

      header {
        padding: 50px 60px 30px;
    }
    .header-address {
        display: flex;
        align-items: center;
        gap:6px;

    }    
    .language-wrapper {
        padding: 0;
        background: none;
        justify-content: flex-start;
    }
    .logo-wrapper {
        padding: 0;
        margin-top: 30px;
      
    }
    .header-logo {
        width: 130px;
        height: 60px;
    }
    .burger-menu {
        display: none;
    }

    .header-facebook {
        color: white;
        display: flex;  
    }
    .desktop-menu {
        display: block;
    }
   h1 {
    width: auto;
   }
   .mobile-panel {
    display: none;
   }


   
   /* advantages */


   .btn-list  {
    padding: 60px;
   }
   .btn-list button {
    font-size: 38px;
   }
   .legal-services {
    padding: 64px 60px 60px;
    }
    .legal-services h2 {
    font-size: 30px;
    }
    .separator {
        margin: 0 60px;
    }

    .services {
        padding: 0 60px 60px;

    }
    .services-title {
    font-size: 38px;
    margin-bottom: 60px;

   }
    .services-card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
    }
    .services-card {
        width: calc(50% - 30px);     
    }

    /* team  */

    .team {
        padding: 80px 60px 60px;
    
   }
   .team-title {
    font-size: 38px;
   }
   .team-card {
    max-width: 648px;
    
   }
   .team-photo {
    background-image: url(/img/team-olex-wide.jpg);
   }

            /* clients */

    .clients-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .clients-wrapper div {
        width: 33.33%;
    }
    .clickky {
        display: flex;
    }
    .eco {
        display: flex;
    }
    .infratek {
        display: flex;
    }
    .city {
        display: flex;
    }
    .artprint {
        display: flex;
    }
    .ultimate {
        display: flex;
    }



                /* publications */


.publications {
    padding: 30px 60px;
}

.publications-link {
    margin-bottom: 10px;
}

.publications-name {
    font-size: 38px;
}

.publications-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.publications-card {
    width: calc(50% - 15px);
}

.publications-card:last-child {
    width: 100%;
    max-width: none;
}


                                        /* FOOTER */

footer {
    padding: 0 60px 30px;
}
.footer-grid {
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}


.footer-item-address {
    display: flex;
    align-items: center;
    gap: 26px;
}

.footer-address {
    padding-bottom: 0;
    position: relative;

}

.footer-address::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--color-grey-text);
    position: absolute;
    top: 6px;
    right: -15px;
}

.footer-item-copyright {
    text-align: right;
}

.footer-item-contacts {
    order: 1;
    flex-direction: row;
    grid-area: 2 / 1 / 3 / 3;
    gap: 26px;

}

.footer-mail {
    margin-bottom: 0;
}

.footer-tel {
    position: relative;
}

.footer-tel::after,
.footer-tel::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--color-grey-text);
    position: absolute;
    top: 6px;
}

.footer-tel::after {
    right: -15px;
}

.footer-tel::before {
    left: -15px;
}

}
   



@media (min-width:1024px) {

    .header-wrapper {
        position: relative;
    }
     .language-wrapper {
        justify-content: flex-end;

     }
     
     .logo-wrapper {
        position: absolute;
        margin-top: 0;
        top: 0;
     }
     .desktop-menu {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
     }
    .advantages {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 60px;

     }
     .btn-list {
        flex-direction: column;
        align-items: flex-end;
        overflow: visible;
        padding: 0;
     }
     .separator {
        align-self: stretch;
        margin: 0;
        width: 4px;
        height: auto;
        flex: none;

     }
     .legal-services {
        padding: 0;
        width: 405px;
     }

     .services-card {
        width: calc(33% - 40px);     
    }

    /* team */

    .team-card {
        display: flex;
        max-width: none;
        
    }
    .team-photo {
        background-image: url(/img/team-olex-528.jpg);
        width: 400px;
        flex: none;
        height: 528px;
    }

                     /* clients  */

    .clients-wrapper div {
        width: 25%;
    }


                    /* publications */
    .publications-card,
    .publications-card:last-child {
        width: calc(33.33% - 20px);
}               

}




@media (min-width:1440px) {
    .legal-services {
        width: 580px;
    }
    .team-photo {
        height: 344px;
        background-image: url(/img/team-olex-344.jpg);
    }
    .team-card {
        max-width: 1600px;
    }
    .clients-wrapper {
        margin: 0 auto;
        max-width: 1720px;
    }

    .footer-wrapper {
        margin: 0 auto;
        max-width: 1600px;
    }



}

@media (min-width:1720px) {
    .clients-wrapper {
        border-radius: 12px;
        overflow: hidden;
    }

    .clients {
        padding-bottom: 60px;
    }

    
}


@media (min-width:1920px) {
    header {
        padding: 50px 160px 30px;
    }
     .legal-services {
        width: 860px;
    }

    .services {
        padding: 60px 160px;
    }
    .team-card  {
        height: 298px;
    }


    
    
}

